<div id="adminROI">
  <div class="roi">
    <div class="CameraNumber">
      ROI 설정
    </div>
    <div id="roiContent">
      <div id="roiTab">
        <%data2.forEach(function(d) {%>
        <div class="roiCam" id="cam<%= d.id%>">CAMERA <%= d.id%></div><br/>
        <% })%>
      </div>
      <div id="roiImage">
        <%data2.forEach(function(d) {%>
        <div id="camera<%= d.id%>"><img src="./config/images/<%= d.image%>" id="image<%= d.id%>" class = "image"/></div>
        <% })%>
      </div>
      <div class="button">
        <form id="roi-form" action = "./submit">
          <%data2.forEach(function(d) {%>
          <input type="text" name="x<%= d.id%>" id="x<%= d.id%>" value="0" hidden>
          <input type="text" name="y<%= d.id%>" id="y<%= d.id%>" value="0" hidden>
          <input type="text" name="w<%= d.id%>" id="w<%= d.id%>" value="0" hidden>
          <input type="text" name="h<%= d.id%>" id="h<%= d.id%>" value="0" hidden>
          <% })%>
          <button id = "submit">확인</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<script type="text/javascript">
  var id = "";
  <%data2.forEach(function(d) {%>
  document.getElementById('image<%= d.id%>').onload = function() {
    new Cropper(this, {
      update: function(coordinates) {
        // your code here!
        document.getElementById('x<%= d.id%>').value = this.coordinates.x;
        document.getElementById('y<%= d.id%>').value = this.coordinates.y;
        document.getElementById('w<%= d.id%>').value = this.coordinates.width;
        document.getElementById('h<%= d.id%>').value = this.coordinates.height;
      }
    });
  }
  document.getElementById('cam<%= d.id%>').addEventListener('click', function() {
    if(id){
      document.getElementById(id).style.display = 'none';
    }
    document.getElementById('camera<%= d.id%>').style.display = 'block';
    id = "camera<%= d.id%>";
  });
  if(<%= d.id%> != 1){
    document.getElementById('camera<%= d.id%>').display = 'none';
  }
  <% })%>
</script>
