<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="./public/css/chart.css">
    <link rel="stylesheet" href="./public/css/info.css">
    <link rel="stylesheet" href="./public/css/cameraImage.css">
    <link rel="stylesheet" href="./public/css/search.css">
    <script src="https://use.fontawesome.com/893b912e06.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id = "header">
      <div id="logo">
        <img src="./public/images/technonia_logo.png" id="header" style = "width: 150px;"/>
      </div>
    </div>
    <%- include('./info') %>
    <%- include('./chart') %>
    <%- include('./cameraImage') %>
    <script type="text/javascript">
      var data3 = [];
      var data4 = [];
      var data5 = [];
      <% data3.forEach(function(d) { %>
          data3.push([<%=d.cameraID%>, '<%=d.date%>', <%=d.people%>]);
      <% }) %>
      <% data4.forEach(function(d) { %>
          data4.push([<%=d.cameraID%>, '<%=d.date%>', <%=d.people%>]);
      <% }) %>
      <% data5.forEach(function(d) { %>
          data5.push([<%=d.cameraID%>, '<%=d.date%>', <%=d.people%>]);
      <% }) %>
    </script>
    <script src="./public/js/search.js"></script>
  </body>
